{% extends "base.html" %}
{% load static %}

{% block title %}
Order
{% endblock %}

{% block content %}
<div>
    <div>
        <h3> Hi! </h3>
        <img src="{%  static '/img/your_photojpg' %}">
    </div>
</div>
        <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
    <div class="row">
       <div class="col-md-2">
        {{ field.label_tag }}
        {% if field.help_text %}
          <sup>{{ field.help_text }}</sup>
        {% endif %}
        {{ field.errors }}
       </div><div class="col-md-10 pull-left">
         {{ field }}
       </div>
    </div>
 {% endfor %}
        <button type="submit" class="btn btn-success">Create</button>
    </form>
{% endblock %}